@import "tailwindcss";
@plugin 'flowbite/plugin';

@source "../node_modules/flowbite";
@source "../node_modules/flowbite-svelte/dist";
@source "../node_modules/flowbite-svelte-icons/dist";
@source "../node_modules/@flowbite-svelte-plugins/chart/dist";

@custom-variant dark (&:where(.dark, .dark *));

/* ***********************  Light theme ******************* */
@theme {
  --color-primary-50: #f1f5fd;
  --color-primary-100: #dfe8fa;
  --color-primary-200: #c6d7f7;
  --color-primary-300: #a0bdf0;
  --color-primary-400: #729ae8;
  --color-primary-500: #5178e0;
  --color-primary-600: #3c5cd4;
  --color-primary-700: #334ac2;
  --color-primary-800: #2f3d9e;
  --color-primary-900: #2b377d;
  --color-primary-950: #252c5e;

  --color-bg: rgb(236 237 240);
  --color-header-bg: rgb(222 226 228);
  --color-fg: rgb(27 26 26);
}

/* ******************** Dark theme overrides ************************** */
.dark {
  --color-primary-50: #fbf7eb;
  --color-primary-100: #f6eccb;
  --color-primary-200: #edd89b;
  --color-primary-300: #e0b651;
  --color-primary-400: #d9a236;
  --color-primary-500: #ca8c28;
  --color-primary-600: #ae6d20;
  --color-primary-700: #8b4f1d;
  --color-primary-800: #74411f;
  --color-primary-900: #633720;
  --color-primary-950: #391b0f;

  --color-bg: rgb(29 31 34);
  --color-header-bg: rgb(16 17 17);
  --color-fg: rgb(240 233 233);
}

@layer base {
  input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }
  body {
    min-height: 100dvh;
  }
}